<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Pagina del Movimiento Peregrino">
    <meta name="author" content="Team Informática 2015">

    <title>Movimiento Peregrino</title>

    <!-- Bootstrap Core CSS -->
    <link href="/media/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/media/css/agency.css" rel="stylesheet">

    <link href="/media/css/slider/superslides.css" type="text/css" rel="Stylesheet" />

    <link rel="MP icon" href="/media/img/logos/favicon.ico">

    <!-- Custom Fonts -->
    <!-- <link href="/media/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"> -->
    <script src="https://use.fontawesome.com/26787ac2e9.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <link href="/media/css/site.css" rel="stylesheet">
</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand custom page-scroll" href="#page-top">
                <div class="row">
                    <div class="col-md-12">Movimiento Peregrino</div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="font-size: 0.5em;">Nos estamos actualizando</div>
                </div>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#quienes_somos">Quiénes somos</a>
                </li>
                <li>
                    <a class="page-scroll" href="#equipo_central">Estructura</a>
                </li>
                <li>
                    <a class="page-scroll" href="#calendario_retiros">Calendario de retiros</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contacto</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div id="slides">
        <div class="slides-container">
            <img src="/media/img/header/header_00.jpg" alt="cristo_peregrino">
            <img src="/media/img/header/header_01.jpg" alt="mip_2014">
            <img src="/media/img/header/header_02.jpg" alt="40_anhos">
            <img src="/media/img/header/header_03.jpg" alt="mp_rosario">
        </div>
        <div class="container" style="z-index: 10;top: 0;left: 0;position: absolute;right: 0;">
            <div class="intro-text">
                <div class="intro-heading row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="intro-cell">
                            <img src="/media/img/logos/logo-mp-01.png" class="img-centered img-intro-centered" alt="Movimiento Peregrino" />
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <a href="#quienes_somos" class="page-scroll btn btn-xl btn-intro" style="margin-bottom: 20px;">¿Quienes somos?</a>

                <div class="page-scroll">
                    <ul class="list-inline social-buttons">
                        <li><a target="_blank" href="https://twitter.com/movperegrino"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a target="_blank" href="https://www.facebook.com/movperegrino"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a target="_blank" href="https://instagram.com/movperegrino/"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Quienes somos section. -->
<section id="quienes_somos">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Quienes somos</h2>
                <h2 class="section-subheading text-muted">+40 años evangelizando al Joven por el Joven</h2>
            </div>
        </div>
        <div class="row text-left">
            <div class="col-md-12">
                <p>Somos una asociación privada de la <strong>Iglesia Católica, Apostólica, Romana</strong>, sin fines de lucro, conformada por jóvenes, sacerdotes y adultos del <strong>Paraguay</strong>.</p>
                <p>Optamos preferencialmente por los jóvenes y adoptamos el principio de la <strong>“Evangelización del Joven por el Joven”</strong>; traducido en un retiro denominado <strong>“Triple Encuentro”</strong>.</p>
                <p>El Movimiento Peregrino busca la conversión de los jóvenes enfrentándolos con su realidad temporal, llevándolos así a un encuentro personal con Cristo y despertando en ellos la sensibilidad por los demás.</p>
                <p>Somos un Movimiento que, a través de la formación de grupos de vida, perseguimos la finalidad de ir transformando los lugares en los que nos toca vivir (ambiente de familia, trabajo, colegio, universidad, diversión etc.) teniendo así el mismo fin apostólico de la Pastoral Juvenil de la Iglesia.
                </p>
                <p>Mediante un método propio, proclamamos vivencialmente y con júbilo el Mensaje de Salvación, fermentando el Evangelio y abiertos al asesoramiento de miembros adultos.</p>
                <p>
            </div>
        </div>
        <div class="row text-center">
            <h2 class="section-subheading uppercase text-muted" style="font-style:normal;">Nuestro deseo ferviente</h2>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stack-1x fa-inverse custom-font">Cr</i>
                    </span>
                <h4 class="service-heading">Cristo</h4>
                <p class="text-muted">Tener a Cristo como ideal de vida.</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stack-1x fa-inverse custom-font">Ac</i>
                    </span>
                <h4 class="service-heading">Acompañar</h4>
                <p class="text-muted"> Acompañar al joven en el desarrollo armonioso de su personalidad y su fe.</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stack-1x fa-inverse custom-font">Mo</i>
                    </span>
                <h4 class="service-heading">Motivar</h4>
                <p class="text-muted">Motivar al joven para que a través de un enfoque cristiano y como laico comprometido examine, se ubique y asuma el compromiso que le plantea su realidad temporal.</p>
            </div>
        </div>
    </div>
</section>


<!-- Equipo Central Grid Section -->
<section id="equipo_central" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Estructura del MP</h2>
                <h3 class="section-subheading text-muted" style="margin-bottom: 5px;">El Movimiento Peregrino está compuesto por el <strong>Equipo Central</strong> y el <strong>Equipo General</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">Equipo Central</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal{{ consejo.tipo }}" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <div class="icon-equipo-central-custom">
                        {{ consejo.icono.as_html }}
                    </div>
                </a>
                <div class="portfolio-caption">
                    <h4>{{ consejo.nombre }}</h4>
                </div>
            </div>
            {% for ec in equipo_central %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ ec.tipo }}{{ forloop.counter }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <div class="icon-equipo-central-custom">
                            {{ ec.icono.as_html }}
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ ec.get_tipo_display }}</h4>
                        <p class="text-muted">{{ ec.nombre }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">Comisiones del Equipo General</h3>
            </div>
        </div>

        <div class="row">
            {% for eg in equipo_general %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ eg.tipo }}{{ forloop.counter }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <div class="icon-equipo-central-custom">
                            {{ eg.icono.as_html }}
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ eg.get_tipo_display }}</h4>
                        <p class="text-muted">{{ eg.nombre }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Calendario de retiros. Section -->
<section id="calendario_retiros">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Calendario de retiros</h2>
                <h3 class="section-subheading text-muted">Estos son nuestros retiros del año {% now "Y" %}. El calendario es tentativo y puede sufrir modificaciones.</h3>
                <h4 class="section-subheading text-muted"><td><a href="#casas_de_retiro_info" class="portfolio-link" data-toggle="modal">Casas de Retiros: Más información aquí.</a></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 text-center">
                <div class="row text-center table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">Nro</th>
                                <th class="text-center">Retiro</th>
                                <th class="text-center">Inicio</th>
                                <th class="text-center">Fin</th>
                                <th class="text-center">Inscripción</th>
                                <th class="text-center">Información</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for r in retiros %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td class="text-left"><a target="_blank" href="http://inscripciones.movimientoperegrino.org">{{ r.nombre }}</a>
                                    </td>
                                    <td>{{ r.fecha_inicio |date:"d/M - G:i" }}</td>
                                    <td>{{ r.fecha_fin |date:"d/M - G:i" }}</td>
                                    {% if r.fecha_inscripcion %}
                                        <td>{{ r.fecha_inscripcion |date:"d/M - G:i" }}</td>
                                    {% else %}
                                        <td>No definido</td>
                                    {% endif %}
                                    <td><a href="#requisitos_{{ r.nombre|slugify }}" class="portfolio-link" data-toggle="modal"><i class="fa fa-eye fa-1x"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <h4 class="section-subheading text-muted"><td><a href="#casas_de_retiro_info" class="portfolio-link" data-toggle="modal">Casas de Retiros: Más información aquí.</a></h4>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contactanos</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nombre *" id="name" required data-validation-required-message="Por favor ingresa tu nombre.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email *" id="email" required data-validation-required-message="Por favor ingresa tu dirección de email.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Teléfono *" id="phone" required data-validation-required-message="Por favor ingresa tu número de teléfono.">
                                <p class="help-block text-danger"></p>
                            </div>

                            <div class="form-group">
                                <textarea class="form-control" placeholder="Mensaje *" id="message" required data-validation-required-message="Por favor ingresa tu mensaje."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <img src="/media/img/mp_googlemaps.png" alt="MP | Guido Spano c/ Senador Long" class="img-responsive" style="padding: 10px;">
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Movimiento Peregrino 2015</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a target="_blank" href="https://twitter.com/movperegrino"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a target="_blank" href="https://www.facebook.com/movperegrino"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a target="_blank" href="https://instagram.com/movperegrino/"><i class="fa fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#quienes_somos">Quienes somos</a>
                    </li>
                    <li><a href="#equipo_central">Equipo Central</a>
                    </li>
                    <li><a href="#calendario_retiros">Calendario de retiros</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Portfolio Modals -->
<!-- Portfolio Modal Consejo -->
<div class="portfolio-modal modal fade" id="portfolioModal{{ consejo.tipo }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body text-left">
                        <!-- Project Details Go Here -->
                        <h2 class="text-center">{{ consejo.nombre }}</h2>
                        <p class="item-intro text-muted text-center"><i class="fa fa-spinner fa-5x"></i>
                        </p>

                        <p>{{ consejo.objetivo_general | safe }}</p>

                        <h4>Está formado por:</h4>
                        <ul>
                            <li>Un Coordinador General.</li>
                            <li>Un Vice Coordinador.</li>
                            <li>Secretario.</li>
                        </ul>
                        <p>Todos con voz y voto, electos por la Asamblea, con una duración de 2 años en sus funciones.</p>
                        <ul>
                            <li><strong>Un Asesor Espiritual Sacerdotal.</strong> Nombrado por el consejo directivo y confirmado por la jerarquía.</li>
                            <li><strong>Un Asesor Laico.</strong> Nombrado por el Consejo Directivo, de conformidad con lo establecido en el presente estatuto.</li>
                        </ul>
                        <p>Ambos con voz y sin voto, con una duración de 1 año en sus funciones.</p>

                        <h4>Miembros:</h4>
                        <ul>
                            {% for c in consejo.coordinador.all %}
                                <li>{{ c.nombre }}</li>
                            {% endfor %}
                        </ul>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin Modal Consejo -->


<!-- Portfolio Modal Equipo Central -->
{% for ec in equipo_central %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ ec.tipo }}{{ forloop.counter }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body text-left">
                            <!-- Project Details Go Here -->
                            <h2 class="text-center">{{ ec.get_tipo_display }} {{ ec.nombre }}</h2>
                            <p class="item-intro text-muted text-center">{{ ec.icono.as_html }}
                            </p>

                            <h4>Objetivo General:</h4>
                            <p>{{ ec.objetivo_general }}</p>

                            <h4>Comisiones:</h4>
                            <ul>
                                {{ ec.objetivo_especifico|safe }}
                            </ul>


                            <h4>Coordinadores:</h4>
                            <ul>
                                {% for c in ec.coordinador.all %}
                                    <li>{{ c.nombre }}</li>
                                {% endfor %}
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
<!-- Fin Modal Equipo Central -->


<!-- Portfolio Modal Equipo General -->
{% for eg in equipo_general %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ eg.tipo }}{{ forloop.counter }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body text-left">
                            <!-- Project Details Go Here -->
                            <h2 class="text-center">{{ eg.get_tipo_display }} {{ eg.nombre }}</h2>
                            <p class="item-intro text-muted text-center">{{ eg.icono.as_html }}
                            </p>

                            <h4>Objetivo General:</h4>
                            <p>{{ eg.objetivo_general }}</p>

                            <h4>Objetivos Específicos:</h4>
                            <ul>
                                {{ eg.objetivo_especifico|safe }}
                            </ul>


                            <h4>Coordinadores:</h4>
                            <ul>
                                {% for c in eg.coordinador.all %}
                                    <li>{{ c.nombre }}</li>
                                {% endfor %}
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
<!-- Fin Modal Equipo General -->


<!-- Portfolio Modal Requisito Retiro -->
{% for r in retiros %}
    <div class="portfolio-modal modal fade" id="requisitos_{{ r.nombre|slugify }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"> </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body text-left">
                            <!-- Project Details Go Here -->
                            <h2 class="text-center">{{ r.nombre }}</h2>
                            <h4>Requisitos</h4>
                            <p>{{ r.requisito.requisito }}</p>
                            <h4>Lugar</h4>
                            <p><a href="#casas_de_retiro_info" class="portfolio-link" data-toggle="modal">{{ r.casa }}</a></p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
<!-- Fin Modal Requisito Retiro -->

<!-- Modal Casas de retiros -->
<div class="portfolio-modal modal fade" id="casas_de_retiro_info" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"> </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body text-left">
                        <!-- Project Details Go Here -->
                        <h2 class="text-center">Casas de Retiros</h2>

                        {% for c in casas %}
                            <h4>{{ c.nombre }}</h4>
                            <p>{{ c.informacion }}</p>
                        {% endfor %}
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- jQuery -->
<script src="/media/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/media/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="/media/js/classie.js"></script>
<script src="/media/js/cbpAnimatedHeader.js"></script>

<!-- Contact Form JavaScript -->
<script src="/media/js/jqBootstrapValidation.js"></script>
<script src="/media/js/contact_me.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/media/js/agency.js"></script>

<!--Slider-->
<script src="/media/js/slider/jquery.animate-enhanced.min.js"></script>
<script src="/media/js/slider/jquery.easing.1.3.js"></script>
<script src="/media/js/slider/jquery.superslides.min.js"></script>

<script>
    $(function () {
        $('#slides').superslides({
            hashchange: true,
            play: 5000,
            animation: 'fade'
        });
    });
</script>

</body>

</html>
